#nav{
    font-size: 14px;
    position: relative;
    font-weight: bold;
}
#nav::before{
    content: "";
    position: absolute;
    height: 2px;
    background: rgb(49, 168, 247);
    width: 5%;
    left: 0px;
    top: 95%;
    transition: 0.2s linear;
}
#nav:hover::before{
    width: 100%;    
}
#nav::after{
    content: "";
    position: absolute;
    height: 2px;
    background: rgb(49, 168, 247);
    width: 5%;
    right: 0px;
    top: -3%;
    transition: 0.2s linear;
}
#nav:hover::after{
    width: 100%;    
}